.App {
  background-color: #282c34;
  color: white;
}


.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.App-list {
  font-size: 25px;
  list-style: none;
  margin-left: 100px;
  line-height: 50px;
}

.App-title {
  margin-left: 100px;
  display: inline-block;
}

.btn {
  margin: 20px;
  display: inline-block;
}